<a href="{$link}" {if $confirm}onclick="return confirm('{_"Are you sure?"}')"{/if} data-toggle="modal" data-target="#{ifset $dataTarget}{$dataTarget}{else}tablecontrol_edit_modal{/ifset}">
    <span class="{$icon}"></span>
</a>